<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Hi, I am Arvin, this is my cv">
    <meta name="author" content="Arvin">
    <title>Arvin Huang's CV</title>
    <link rel='stylesheet' type='text/css' href='semantic/dist/semantic.min.css'>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- header message, About me-->
     <div class='stackable article ui grid'>
       <div class='head-img eight wide column'>
         <img src='images/head-min.png' alt='head-img'>
       </div>
       <div class='about eight wide column' itemscope itemtype='http://data-vocabulary.org/Person'>
        <h3 itemprop="name">ShuoHan-Huang (@ArvinH)</h3>
        <p> I am a web developer &amp; data engineer.
          Focus on new technology especially web development and data engineering;
          Researched in Graph Mining, Spatial-Temporal data, LBSN, Big data process and data mining;
          Interested in Music, Body building, Movie and Traveling.
        </p>

        <div>Email: <a href="mailto:arvin0731@gmail.com">arvin0731@gmail.com</a></div>
        <div>More info: <a href="http://www.arvinh.info">www.arvinh.info</a></div>
        <div>CV & Projects: <a href="https://www.dropbox.com/s/iyk37lkde90v2g7/cv-projects.pdf?dl=0" target="_blank">download here</a></div>
        <div>
          <i class="large github alternate icon"></i>
          github: <a href="https://github.com/ArvinH">arvinh</a>
        </div>
        <div>
          <i class="large bitbucket icon"></i>
          bitbucket: <a href="https://bitbucket.org/ArvinH/">arvinh</a>
        </div>
      </div>
     </div>

     <div class='article ui grid stackable'>
       <!-- Education -->
       <div class='education sixteen wide column'>
         <!--horizontal divider-->
         <h3 class='ui dividing header'>
            <i class='big student icon'></i>
            Education
         </h3>
         <div class='ui list'>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2014]</div>
                <div class='content-title'>Computer Science - M.E. (GPA:4.0)</div>
              </div>
               <div class='description'>
                 <div class='text-content'>National Cheng Kung University, Tainan</div>
               </div>
             </div>
           </div>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012]</div>
                <div class='content-title'>Computer Science - B.E. (GPA:3.8)</div>
               </div>
               <div class='description'>
                 <div class='text-content'>National Taiwan Ocean University, Keelung</div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- English -->
       <div class='english sixteen wide column'>
         <!--horizontal divider-->
         <h3 class='ui dividing header'>
            <i class='big book icon'></i>
            English
         </h3>
         <div class='ui list'>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2013]</div>
                <div class='content-title'>TOEFL</div>
              </div>
               <div class='description'>
                 <div class='text-content'>91</div>
               </div>
             </div>
           </div>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012]</div>
                <div class='content-title'>TOEIC</div>
               </div>
               <div class='description'>
                 <div class='text-content'>810</div>
               </div>
             </div>
           </div>
         </div>
       </div>
       <!-- Personal Skill -->
       <div class='personal sixteen wide column'>
       <!--horizontal divider-->
         <h3 class='ui dividing header'>
            <i class='big book icon'></i>
            Personal Skill
         </h3>
           <div class='ui list'>
             <div class='item'>
               <div class='content'>
                 <div class='title'>
                  <div class='content-title'>Java, Python, Javascript, D3js, Html5, Css3, Graph DB, Data Engineering, Algorithm</div>
                </div>
                 <div class='description'>
                   <div class='text-content'></div>
                 </div>
               </div>
             </div>
           </div>
       </div>

       </div>

      <div class='article ui grid stackable'>
        <!-- Research Topic -->
        <div class='research sixteen wide column'>
          <!--horizontal divider-->
          <h3 class='ui dividing header'>
             <i class='big lab icon'></i>
             Research Topic
          </h3>
          <div class='ui list'>
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2014]</div>
                 <div class='content-title'>Thesis</div>
               </div>
                <div class='description'>
                  <div class='text-content'>
                  Graph Mining on MALWARE Activities for Online THREAT Identification
                  </div>
                </div>
              </div>
            </div>
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2012 ~ now]</div>
                 <div class='content-title'>Interested Research Area</div>
               </div>
                <div class='description'>
                  <div class='text-content'>
                  Data engineering, Data visualization and web technology
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class='article ui grid stackable'>
       <!-- Experience -->
       <div class='experience sixteen wide column'>
         <!--horizontal divider-->
         <h3 class='ui dividing header'>
            <i class='big file text icon'></i>
            Experience
         </h3>
         <div class='ui list'>
           <!-- trendmicro -->
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2013/07-2013/08]</div>
                <div class='content-title'>Intern, TrendMicro</div>
               </div>
               <div class='description'>
                 <div class='text-content-list'>
                   <ul class='ui list'>
                     <li>Emerging Threat Sourcing Evaluation.</li>
                     <li>System Design by using Graph DB (Neo4j).</li>
                     <li>Performance Evaluation.</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <!-- potisco -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012/07-2012/08]</div>
                <div class='content-title'>Intern, Patisco.com, Xinosys co., ltd--a B2B web-based commercial platform</div>
               </div>
               <div class='description'>
                 <div class='text-content-list'>
                   <ul class='ui list'>
                     <li>Used Apache Solr to help patisco.com build up a full-text search engine.</li>
                     <li>Used WebSocket + Redis + akka to help patisco.com build up a internal Pub/Sub system.</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <!-- Microsoft -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012/07-2012/08]</div>
                <div class='content-title'>2012 Microsoft Computex Tester</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   Set up,tested and maintained the software and hardware that will be used in Computex.
                 </div>
               </div>
             </div>
           </div>
           <!-- ITSEED -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2010-2011]</div>
                <div class='content-title'>New Taipei City Computer Association, ITSEED program 8th</div>
               </div>
               <div class='description'>
                 <div class='text-content-list'>
                   <ul class='ui list'>
                     <li>Project of Spring Party, Head of Advertisement Section. Led group members arranging performances and marketing activities.</li>
                     <li>Project of Closing ceremony, filmling group leader.</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
           <!-- TA -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2009/02-2010/02]</div>
                <div class='content-title'>TA, Data structure class & Calculus class</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   TA in Data structure and Calculus class in college.
                 </div>
               </div>
             </div>
           </div>

         </div>
       </div>
       <!-- Contest -->
       <div class='contest sixteen wide column'>
         <!--horizontal divider-->
         <h3 class='ui dividing header'>
            <i class='big trophy icon'></i>
            Contest
         </h3>
         <div class='ui list'>
           <!-- yahoo hack day -->
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012/10]</div>
                <div class='content-title'>2012 Yahoo Open Hack Day in Taiwan</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   Combined Flickr api and google api to create a “Photo recommended website”,
                   based on LBS and spatialtemporal data filtering.
                 </div>
               </div>
             </div>
           </div>
           <!-- evernote hackathon -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2012/07]</div>
                <div class='content-title'>2012 Evernote Hackathon</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   Used Evernote api, PayPal api and Kickstrapter
                   framework to create an “Online NotesTrading Platform” in 30 hours.
                 </div>
               </div>
             </div>
           </div>
           <!-- CTY -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2011/07]</div>
                <div class='content-title'>6th Center for Talented Youth, Venture Capital Competition</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   Champion, project name:“Sweet Shopping”—bound augmented reality and store information.
                 </div>
               </div>
             </div>
           </div>
           <!-- ITSA -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2011/07]</div>
                <div class='content-title'>ITSA Programming Contest, Ministry of Education</div>
               </div>
               <div class='description'>
                 <div class='text-content'>
                   Got 10th in more than 250 teams.
                 </div>
               </div>
             </div>
           </div>
           <!-- NSC -->
           <br>
           <div class='item'>
             <div class='content'>
               <div class='title'>
               <div class='time-content'>[2010-2011]</div>
                <div class='content-title'>National Science Council, College student research projects</div>
               </div>
               <div class='description'>
                 <div class='text-content-list'>
                   <ul class='ui list'>
                     <li>Project name: Sodar</li>
                     <li>NSC College Student Research Creativity Award.</li>
                   </ul>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      </div>

      <div class='article ui grid stackable'>
        <!-- Projects -->
        <div class='projects sixteen wide column'>
          <!--horizontal divider-->
          <h3 class='ui dividing header'>
             <i class='big folder open icon'></i>
             Projects
          </h3>
          <div class='ui list'>
            <!-- Visually LAB -->
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2014-2015]</div>
                 <div class='content-title'>Visually LAB</div>
                </div>
                <div class='description'>
                  <div class='text-content-list'>
                    <ul class='ui list'>
                      <li>Used D3.js to visualize health care relative data.</li>
                      <li>Used node.js and postgresql for back-end.</li>
                      <li>Link: <a href="http://visually-lab.herokuapp.com">visually lab site</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- PAKDD2014 (DEPRECATED)-->
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2014/05]</div>
                 <div class='content-title'>PAKDD 2014 web app (DEPRECATED)</div>
                </div>
                <div class='description'>
                  <div class='text-content-list'>
                    <ul class='ui list'>
                      <li>Used node.js and postgresql for back-end.</li>
                      <li>Link: <a href="http://pakdd2014.herokuapp.com">pakdd 2014 website</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- Medical cloud -->
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2013/09]</div>
                 <div class='content-title'>Medical cloud</div>
                </div>
                <div class='description'>
                  <div class='text-content'>
                    Builded and managed hadoop cluster, mysql cluster, openstack and git server.
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- sitw -->
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2015]</div>
                 <div class='content-title'>SITW group search site (DEPRECATED)</div>
                </div>
                <div class='description'>
                  <div class='text-content-list'>
                    <ul class='ui list'>
                      <li>Used school's open data to build a site for student searching group information.</li>
                      <li>Used OSQA to build an QA site called sitw-qa.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <!-- MEA -->
            <div class='item'>
              <div class='content'>
                <div class='title'>
                <div class='time-content'>[2012/09-2013/07]</div>
                 <div class='content-title'>Ministry of Economic Affairs Technology Development Program for Academia.</div>
                </div>
                <div class='description'>
                  <div class='text-content-list'>
                    <ul class='ui list'>
                      <li>Web service api designed and implemented</li>
                      <li>Builded up MongoDB, MySQL Cluster and CloudFoundry.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="small">
      <p class="text-muted">Copyright &copy; ArvinH 2015</p>

  </body>
  <script src='javascripts/jquery.js'></script>
  <script src='semantic/dist/semantic.min.js'></script>
</html>
